<TestPolicy Version="9.6.54">
  <BaseTestPolicyFile>C:\Users\administrator.LAB\Documents\AppScan\Log4J.policy</BaseTestPolicyFile>
  <Description>User Defined...</Description>
  <DescriptionID>Default</DescriptionID>
  <Update>
    <Invasiveness>
      <Invasive>False</Invasive>
      <NonInvasive>True</NonInvasive>
    </Invasiveness>
    <App_Infra>
      <Application>True</Application>
      <Infrastructure>True</Infrastructure>
      <ThirdParty>True</ThirdParty>
    </App_Infra>
    <Severity>
      <Informational>True</Informational>
      <Low>True</Low>
      <Medium>True</Medium>
      <High>True</High>
    </Severity>
    <NetListener>False</NetListener>
    <Technology>
      <BlackBox>True</BlackBox>
      <GlassBox>False</GlassBox>
      <WhiteBox>True</WhiteBox>
      <Mobile>True</Mobile>
    </Technology>
    <AllowedThreatClassifications All="True" />
  </Update>
  <IssueType Name="attLog4Shell" Severity="Default" Active="True">
    <VariantType Name="attLog4Shell" AttackRuleName="attLog4Shell" Active="True" />
    <VariantType Name="attLog4Shell" AttackRuleName="attLog4ShellEncoded" Active="True" />
  </IssueType>
</TestPolicy>